@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(247, 246, 244); */
  background-color: rgb(240, 237, 231);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  background-color: grey;
}

.h-60vh {
  height: 60vh;
}

/* Assuming your default styles for both components are set in the CSS */
.list-container,
.card-container {
  display: none;
}

/* @media (min-width: 1441px) {
  .hero-container {
    height: 76vh;
  }
} */

/* Styles for screens 1024px to 1439px (lg breakpoint) */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .list-container {
    display: none; /* Hide by default */
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .para-container {
    margin-top: 20vh;
  }
}

@media screen and (min-width: 1440px) {
  .para-container {
    margin-top: 20vh;
  }
}

/* Styles for screens 1440px and larger (xl breakpoint) */
@media screen and (min-width: 1440px) {
  .list-container {
    display: flex;
    flex-direction: column;
  }
  .card-container {
    display: none; /* Hide by default */
  }
}
